<div class="flex m-auto h-screen justify-center">
    <form (ngSubmit)="submit()" class="p-4 rounded-lg border">
       <h1 class="text-center text-xl">Login</h1>
        <div  class="my-5 w-full">
            <label for="email">Email</label>
            <input type="email" class="p-2 rounded w-full" name="email" id="email" placeholder="Email Addrress" [(ngModel)]="form.email">
        </div>
        <div class="my-5 w-full">
            <label for="password">Password</label>
            <input type="password" class="p-2 rounded w-full" name="" id="password" placeholder="Password Addrress"[(ngModel)]="form.password">
        </div>
        <div class="my-5 w-full">
           
            <input type="submit" class="p-2 w-full bg-purple-800 text-white rounded" name="" id="password">
        </div>

    </form>
</div>
